<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    
    <title>Task Manager</title>
    <style>
        .fieldWrapper ul {
            width: 100%;
            list-style: disc;
            margin: 12px 0 12px 18px;
        }
        .fieldWrapper ul li {
            font-size: 0.75rem;
            line-height: 1rem;
            color: #7C899C;
        }
    </style>
</head>
<body>
    <div class="w-[650px] mx-auto mt-8 p-4">

        {% if title %}
        <h2 class="text-4xl font-bold my-4">{{ title }}</h2>
        {% else %}
        <div class="flex items-center justify-between my-4">
            <h2 class="text-4xl font-bold">Hi, {{ request.user|upper }}</h2>
            <a href="/user/logout" class="text-2xl text-[#EF4444] font-medium">Log out</a>
        </div>
        {% endif %}        

        <div>
            {% block content %}
            {% endblock  %}
        </div>
    </div>
    
</body>
</html>