
<div onclick="window.location.href = 'detail-task/{{task.id}}'" class="cursor-pointer flex flex-row justify-between items-center py-[25px] px-[22px] bg-[#F1F5F9] rounded-[16px] my-[15px]">
    <div class="flex flex-col">
        <h2 class="text-xl font-medium pr-[8px] {% if task.completed %} text-[#F43F5E] {% endif %} {% if request.path == '/tasks' and task.completed %} line-through {% endif %}">{{ task.title }} {% if task.completed == False %} [{{ task.priority }}] {% endif %}</h2>
        <h2 class="text-[16px] font-medium text-[#64748B]">{{ task.pretty_date }} <span class="text-[#2DD4BF] ml-[4px]">{{ task.status|lower }}</span></h2>
    </div>
    <div class="flex items-center justify-evenly  mr-[-50px]">
        <a class="p-[11px] bg-[#2DD4BF] rounded-[8px] mr-[8px]" href="update-task/{{task.id}}">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-[20px] w-[20px] text-white font-bold" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={3} d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
            </svg>
        </a>
        <a class="p-[11px] bg-[#F43F5E] rounded-[8px] ml-[8px]" href="delete-task/{{task.id}}">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-[20px] w-[20px] text-white font-bold" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={3} d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
            </svg>
        </a>
    </div>
    <a href="api/v1/task/{{ task.id }}/history" class="text-blue-400 underline">See Task History</a>
</div>